div {
    width: 300px;
    margin: 20px;
}

div {
    border-style: dotted dashed solid double;
    border-width: 4px 8px 12px 16px;
    border-color: aqua;
}

body {
    background: grey;
}

div {
   margin: 50px 50px 50px 50px;
   padding: 10px 100px 40px 50px; /*Atas Kanan Bawah Kiri*/
}

