h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-wrap: warp;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
}

div:nth-of-type(2) {
    align-self: flex-end;
}
div:nth-of-type(3) {
    align-self: flex-start;
}
div:nth-of-type(4) {
    align-self: initial;
}