body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

nav a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: red;
    font-size: 6em;
}

ul {
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

ul,li {
    display: flex;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2em;
    }   
}